.game-container {
  width: 100%;

  /*border: 2px solid lime;*/
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;

  font-size: 2.5rem;
  text-align: center;

  background-image: var(--text-gradient);

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
}

.panel {
  margin: 1rem 0 0 0;
  padding: 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;
  box-sizing: border-box;

  backdrop-filter: blur(20px);
  background: var(--panel-gradient);
}

.pad {
  margin: 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#playButton {
  width: 100%;

  transition: transform 0.2s;
}

#playButton:hover {
  transform: scale(1.03);
}

/* SETTINGS */
.settings-container {

}

h2 {
  margin: 0 0 0.75rem 0;
  padding: 0;

  font-weight: bold;
}

h3 {
  margin: 0 0 0.5rem 0;
  padding: 0;

  font-weight: normal;
}

/* Overall Range Container */
.range-container {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

/* Flexbox to hold Inputs and Button */
.range-input {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: left;
}

/* The Range Input Specifically */
.range-input input {
  flex: 1 1 0;

  min-width: 0;
  max-width: none;
}

/* Set Button */
.range-input button {
  margin: 0;
  font-weight: normal;

  transition: transform 0.2s;
}

.range-input button:hover {
  transform: scale(1.07);
}

#range-form {
  width: 100%;
}

#guess-form {
  width: 100%;
}

input {
  margin: 0;
  padding: 0.5rem 0.75rem;

  color: var(--text);

  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.30),
    rgba(0, 0, 0, 0.15)
  );

  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 8px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--placeholder-text);
}

.feedback-container {
  margin: 0;
  padding: 0;
}

.feedback {
  margin: 0.5rem 0 0 0;

  text-align: center;
  text-wrap: wrap;
}

.limit-container {
  width: 100%
}

.limit-container input {
  width: 100%;
}

.guess-container {

}

.guess-input {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: left;
}

.guess-input input {
  /*max-width: 50%;*/

  flex: 1;        /* take all available space */
  min-width: 0;   /* prevent weird overflow */
}

#guessButton {
  margin-left: auto;
  font-weight: normal;

  transition: transform 0.2s;
}

#guessButton:hover {
  transform: scale(1.07);
}

.end-container {

}

#resetButton {
  transition: transform 0.2s;
}

#resetButton:hover {
  transform: scale(1.03);
}

@media (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }

  input {
    font-size: 1.25rem;
  }

  .range-input button {
    font-size: 1.25rem;
  }

  .guess-input button {
    font-size: 1.25rem;
  }

  #playButton {
    font-size: 1.5rem;
  }

  #resetButton {
    font-size: 1.5rem;
  }
}
