<div class="game-container">
  <h1>Higher/Lower!</h1>

  <!-- Settings Container -->
  @if (!settingsApplied) {
    <div class="settings-container panel">
      <div class="pad">
        <form (ngSubmit)="setRange()" id="range-form">
          <div class="range-container">
            <h3>Range</h3>
            <div class="range-input">
              <input name="minValue" type="number" [(ngModel)]="minValue" placeholder="0">
              <input name="maxValue" type="number" [(ngModel)]="maxValue" placeholder="100">
              <button type="submit">Set</button>
            </div>
            @if (rangeFeedback != '') {
              <p class="feedback">{{ rangeFeedback }}</p>
            }
          </div>
        </form>
        <div class="limit-container">
          <h3>Guess Limit</h3>
          <input type="number" [(ngModel)]="limit" placeholder="Unlimited">
          @if (limitFeedback != '') {
            <p class="feedback">{{ limitFeedback }}</p>
          }
        </div>
        <button id="playButton" (click)="applySettings()">Play</button>
        @if (settingsFeedback != '') {
          <p class="feedback">{{ settingsFeedback }}</p>
        }
      </div>
    </div>
  }

  @if (settingsApplied && !gameOver) {
    <!-- Guess Input -->
    <div class="guess-container panel">
      <div class="pad">
        <p>Guess a number between {{ minValue }} and {{ maxValue }}</p>
        @if (!bypassLimit) {
          <p>Remaining Guesses: {{ limit }}</p>
        }
        <form (ngSubmit)="submitGuess(guessInput, guessButton)" id="guess-form">
          <div class="guess-input">
            <input #guessInput name="guess" type="number" [(ngModel)]="guess" placeholder="Number">
            <button #guessButton type="submit" id="guessButton">Guess</button>
          </div>
        </form>

        <!-- Feedback -->
        <div class="feedback-container">
          @if (guessFeedback != '') {
            <p class="feedback">{{ guessFeedback }}</p>
          }
          <!--<p>{{ guessList }}</p>-->
        </div>
      </div>
    </div>
  }

  @if (gameOver) {
    <div class="end-container panel">
      <div class="pad">
        <p class="feedback">{{ guessList.join(', ') }}</p>
        <p class="feedback">{{ endFeedback }}</p>
        <button (click)="resetGame()" id="resetButton">Reset Game</button>
      </div>
    </div>
  }
</div>
