.game-container {
  min-height: 100%;
}

h1 {
  margin: 0;
  padding: 0;

  font-size: 2.5rem;
  text-align: center;

  /*background: linear-gradient(
    to top left,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );*/

  background-image: var(--text-gradient);

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
}

.panel {
  margin: 1rem 0 0 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: var(--panel-gradient);
}

/* SETTINGS */
.settings-container {

}

h2 {
  margin: 0 0 0.75rem 0;
  padding: 0;

  font-weight: bold;
}

h3 {
  margin: 0 0 0.5rem 0;
  padding: 0;

  font-weight: normal;
}

/* DELETE THIS ONE? */
/*settings-container p {
  margin: 0;
  padding: 0;
}*/

/* Overall Range Container */
.range-container {
  margin: 0;
  padding: 0;

  /*border: 2px solid lime;*/
}

/* Flexbox to hold Inputs and Button */
.range-input {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: left;
}

input {
  margin: 0;
  padding: 0.5rem 0.75rem;

  color: var(--text);

  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.30),
    rgba(0, 0, 0, 0.15)
  );

  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 8px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--placeholder-text);
}

/* The Range Input Specifically */
.range-input input {
  width: 25%;
}

.range-input button {
  margin-left: auto;
}

.feedback-container {
  margin: 0;
  padding: 0;
}

.feedback {
  margin: 0.5rem 0 0 0;

  text-align: center;
}

.limit-container {
  width: 100%
}

.guess-container {

}

.guess-input {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: left;
}

.guess-input input {
  max-width: 50%;
}

.guess-input button {
  margin-left: auto;
}

.end-container {

}

@media (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  input {
    font-size: 1.25rem;
  }
}
