/* Theme Object */
.theme-menu {
  /*background-color: red;*/

  position: relative;

  width: 100%;
  /*width: max-content;*/
}

/* Theme Button */
.theme-toggle {
  padding: 0.5rem 1rem;

  width: 100%;

  background: var(--button-gradient);

  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.05);

  cursor: pointer;

  transition: transform 0.2s;
}

.theme-toggle:hover {
  transform: scale(1.07);
}

/* Theme Dropdown Menu */
.theme-dropdown {
  margin-top: 0.5rem;
  position: absolute;

  top: calc(100% + 0.25rem);
  left: 50%;
  transform: translateX(-50%);

  display: none;

  flex-direction: column;
  gap: 0.5rem;

  background: none;
  border-radius: 12px;
  padding: 0.5rem;

  z-index: 100;
}

.theme-dropdown.open {
  margin: 0.25rem 0 0 0;
  padding: 0;

  display: flex;
}

.theme-dropdown button {
  padding: 0.5rem 1rem;

  background: var(--button-gradient);

  backdrop-filter: blur(5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);

  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 12px;

  cursor: pointer;

  transition: transform 0.2s;
}

.theme-dropdown button:hover {
  transform: scale(1.07);
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 750px) {
  .theme-toggle {
    font-size: 1.25rem;
  }

  .theme-dropdown button {
    font-size: 1.25rem;
  }
}