.app-container {
  margin: 0;
  padding: 0;
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /*border: 2px solid red;*/
  box-sizing: border-box;
}

.background-view {
  margin: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: linear-gradient(315deg, var(--background), var(--secondary-accent));

  /*border: 2px solid lime;*/
  border-radius: 12px;
  box-sizing: border-box;
}

.content {
/*  border: 2px solid purple;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  min-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;*/

  /*background-color: red;*/

  width: 100%;
  max-width: var(--maxWidth);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

app-theme-selector {
  padding: 0.5rem;
}

app-game {
  margin: 0;
  padding: 0;

  width: 100%;

  flex: none;

  box-sizing: border-box;

  /*border: 2px solid cyan;*/
}

/* "Footer" */

.link-wrapper {
  /*background-color: red;*/

  width: 100%;

  text-align: center;
}

.link-wrapper a {
  padding: 0.5rem 1rem;

  position: fixed;

  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  color: var(--text);

  background: var(--button-gradient);

  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.05);

  cursor: pointer;

  transition: transform 0.2s;
}

.link-wrapper a:hover {
  transform: translateX(-50%) scale(1.07);
}

@media (max-width: 1100px) {

}

@media (max-width: 750px) {

}

@media (max-width: 500px) {

}
