.app-container {
  margin: 0;
  padding: 0;
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 2px solid red;
  box-sizing: border-box;
}

.background-view {
  margin: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: linear-gradient(315deg, var(--background), var(--secondary-accent));

  /*border: 2px solid lime;*/
  border-radius: 12px;
  box-sizing: border-box;
}

.content {
/*  border: 2px solid purple;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  min-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;*/
}

app-theme-selector {
  padding: 0.5rem;
}

app-game {
  margin: 0;
  padding: 0.5rem;
  max-width: 500px;

  flex: none;

  /*border: 2px solid cyan;*/
}

@media (max-width: 1100px) {

}

@media (max-width: 750px) {

}

@media (max-width: 500px) {

}
