:root {
  font-family: sans-serif;
  --maxWidth: 500px;

  --background: rgba(2, 0, 36, 1);
  --text-light: rgba(255, 255, 255, 0.8);
  --text-dark: rgba(0, 0, 0, 0.8);
  --placeholder-text: rgba(255, 255, 255, 0.5);
  --primary-accent: rgb(0, 212, 255);
  --secondary-accent: rgb(9, 9, 121);
  --text-gradient: linear-gradient(
    to bottom right,
    var(--primary-accent),
    var(--secondary-accent)
  );
  --button-start: rgba(2, 0, 36, 0.25);
  --button-end: rgba(9, 9, 121, 0.25);
  --button-gradient: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0.10),
    rgba(255,255,255,0.05)
  );
  --panel-gradient: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.10),
    rgba(255,255,255,0.05)
  );
}

.theme-rose {
  --background: rgba(219, 0, 102, 1);
  --text: var(--text-dark);
  --placeholder-text: rgba(255, 255, 255, 0.5);
  --primary-accent: rgb(255, 199, 199);
  --secondary-accent: rgb(255, 120, 201);
  --text-gradient: linear-gradient(
          to bottom right,
          var(--primary-accent),
          var(--secondary-accent)
  );
  --button-start: rgba(2, 0, 36, 0.25);
  --button-end: rgba(9, 9, 121, 0.25);
  --button-gradient: linear-gradient(
          to top left,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
  --panel-gradient: linear-gradient(
          to bottom right,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
}

.theme-marigold {
  --background: rgba(176, 91, 0, 1);
  --text: var(--text-dark);
  --placeholder-text: rgba(255, 255, 255, 0.5);
  --primary-accent: rgb(255, 221, 0);
  --secondary-accent: rgb(255, 153, 0);
  --text-gradient: linear-gradient(
          to bottom right,
          var(--primary-accent),
          var(--secondary-accent)
  );
  --button-start: rgba(2, 0, 36, 0.25);
  --button-end: rgba(9, 9, 121, 0.25);
  --button-gradient: linear-gradient(
          to top left,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
  --panel-gradient: linear-gradient(
          to bottom right,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
}

.theme-sunflower {
  --background: rgba(171, 111, 0, 1);
  --text: var(--text-dark);
  --placeholder-text: rgba(255, 255, 255, 0.5);
  --primary-accent: rgb(249, 255, 186);
  --secondary-accent: rgb(255, 213, 0);
  --text-gradient: linear-gradient(
          to bottom right,
          var(--primary-accent),
          var(--secondary-accent)
  );
  --button-start: rgba(2, 0, 36, 0.25);
  --button-end: rgba(9, 9, 121, 0.25);
  --button-gradient: linear-gradient(
          to top left,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
  --panel-gradient: linear-gradient(
          to bottom right,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
}

.theme-aloe {
  --background: rgba(42, 105, 0, 1);
  --text: var(--text-dark);
  --placeholder-text: rgba(255, 255, 255, 0.5);
  --primary-accent: rgb(215, 255, 158);
  --secondary-accent: rgb(128, 255, 0);
  --text-gradient: linear-gradient(
          to bottom right,
          var(--primary-accent),
          var(--secondary-accent)
  );
  --button-start: rgba(2, 0, 36, 0.25);
  --button-end: rgba(9, 9, 121, 0.25);
  --button-gradient: linear-gradient(
          to top left,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
  --panel-gradient: linear-gradient(
          to bottom right,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
}

.theme-orchid {
  --background: rgba(2, 0, 36, 1);
  --text: var(--text-light);
  --placeholder-text: rgba(255, 255, 255, 0.5);
  --primary-accent: rgb(0, 212, 255);
  --secondary-accent: rgb(9, 9, 121);
  --text-gradient: linear-gradient(
    to bottom right,
    var(--primary-accent),
    var(--secondary-accent)
  );
  --button-start: rgba(2, 0, 36, 0.25);
  --button-end: rgba(9, 9, 121, 0.25);
  --button-gradient: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0.10),
    rgba(255,255,255,0.05)
  );
  --panel-gradient: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.10),
    rgba(255,255,255,0.05)
  );
}

.theme-iris {
  --background: rgba(57, 0, 97, 1);
  --text: var(--text-light);
  --placeholder-text: rgba(255, 255, 255, 0.5);
  --primary-accent: rgb(255, 222, 253);
  --secondary-accent: rgb(230, 0, 255);
  --text-gradient: linear-gradient(
          to bottom right,
          var(--primary-accent),
          var(--secondary-accent)
  );
  --button-start: rgba(2, 0, 36, 0.25);
  --button-end: rgba(9, 9, 121, 0.25);
  --button-gradient: linear-gradient(
          to top left,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
  --panel-gradient: linear-gradient(
          to bottom right,
          rgba(255, 255, 255, 0.10),
          rgba(255,255,255,0.05)
  );
}

html, body {
  margin: 0;
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;

  min-height: 100dvh;

  background: black;

  color: var(--text);

  box-sizing: border-box;
}

/*html, body {
  margin: 0;
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);
  height: 100%;
  color: var(--text);
  box-sizing: border-box;
}*/

button {
  background: var(--button-gradient);
  color: var(--text);

  margin: 0;
  padding: .5rem .75rem;

  font-family: sans-serif;
  font-size: 1rem;

  /*border: 2px solid transparent;*/
  border-radius: 12px;

  background: var(--button-gradient);

  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  /*border-radius: 8px;*/

  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

button:hover {
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

